

.search {
    margin: 20px 0;
    background: #e0e0e0;
    height: 500px;
    width: 100%;
}

.search-panel {
    background: white;
    margin: 50px auto;
    border-radius: 20px;
    padding: 40px 30px 0 30px;
    -webkit-box-shadow: 2px 3px 14px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 3px 14px -3px rgba(0,0,0,0.2);
    box-shadow: 2px 3px 14px -3px rgba(0,0,0,0.2);
}

.search input {
    border: 1px solid #444;
    border-radius: 5px;
}

.search-panel .searchedAddress {
    margin: 15px auto 11px auto;
    padding: 20px;
}
.search-panel .searchedAddress.notFound {
    background: rgb(255, 199, 199);
    border: 1px solid red;
}
.search-panel .searchedAddress.found {
    background: rgb(201, 255, 209);
    border: 1px solid green;
}

.results-panel {
    margin: 50px auto;
    color: white !important;
}